#app {

}

.input-tip{
  color:gray;
  font-size:9.5px;
}

.checkbox-style{
 transform: scale(3);
}

body{
  margin: 0 auto;
}

.header-back{
  margin-top:15px !important;
}

.header-back .icon{
  width:50px;
}

.header-center .icon{
  width:50px;
}

.btn-outline-secondary .icon-search{
  width:30px;
}
.header-center{
  margin:0 auto;
  margin-top:15px !important;
}

.hrn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 0px solid rgba(0,0,0,.1);
}

.container{
  max-width:1400px;
  margin: 50px auto;
  overflow: hidden;
  min-height:600px;
}

.profile-body{
  margin-top:-30px
}

.listing-header{
  background-color:rgba(0,0,0,.1);
  text-align: center;
}

.listing-body{
  text-align: center;
}

#create-listing-btn{
  margin-top:20px;
}
#v-pills-tab{
  text-align:center;
}

.popup-input{
  width:70%;
}

.botton-blue{
  text-color:blue;
}

.footer{
  min-height:50px;
}
.footer-text{
  margin-top:20px;
}

.header {
  z-index:99;
  overflow: hidden;
  min-height:100px;
  position: sticky;
  top: 0;
  background-color:white;
  box-shadow: 0px 0px 7px 0px #1a1a1a;
}

.header-inner {
  max-width:1400px;
  margin: 0 auto;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin:0px 10px 0px 10px;
}

.header a.logo img{
  width:70px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  margin-top:10px;
  float: right;
}

.header-center{

  margin:0 auto;
  margin-top:10px;

}

#search-input{
  height:45px;
}

.icon,
.icon-log-out,
.icon-search,
.icon-shopping-cart{
  width:30px;
}
.vl {
  border-left: 1px solid gray;
  height:60px;
  margin-right: -15px !important;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  border-radius: 0px;
}

.modal-body,
.modal-footer,
.modal-header{
  border-bottom: 0px;
  border-top: 0px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}
.close{
  z-index:99;
}

.modal-body h3{
  color: #42b983;
  margin: -80px 0 5px 0;
}

.login-popup-button{
  text-align: right;
  margin-top: 40px;
  margin-bottom: -40px;
}

.login-form-input{
  margin-top: 40px;
}

.modal-enter-active,
.modal-leave-active {
  opacity: 0;
  transition: opacity .2s;
}

.modal-enter,
.modal-leave-to .modal-container {
  opacity: 0;
}

/*checkout*/
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.remove-icon{
  width: 15px;
}


td {
  height: 100px;
  text-align:center;
}

.tb-width {
  width: 120px;
}

 .column {
    float: center;
    width: 50%;
  }

.shift-right {
  margin-left: 30px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  margin-right: 300px;
}

.back {
  margin-top: 20px;
  margin-left: 120px;
}

.cart-title {
  margin-left: 120px;
}

.quantity-icon{
  display: inline;
  width: 15px;
}

.titlestyle{
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-style: italic;

}

.top-space{
  margin-top: 20px;

}

.brandstyle{
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-style: italic;
  color:gray;
}

.review-row{
  margin-top:20px;
}

.card-contents-phone{
  padding: 20px;
}
.card-reviews{
  margin-top:10px;
  color:gray;
}
.listing-title-link{
  color:black;
}
.card-image{
  max-width:250px;
  margin:0 auto;
}
.card-price{
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  color:Red;
  font-weight: bold;
  text-shadow: 1px 1px gray;
  font-size: 20px;
  margin-right:50px;
}

.view-row{
  margin-top:30px;
}
.pricestyle{
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  color:Red;
  font-weight: bold;
  text-shadow: 2px 2px gray;

}

.stockstyle{
  margin-left:20px;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-style: normal;
  color:gray;

}

.addtocartbtn{
  border: none;
  color: white;
  font-weight: bold;
  padding: 14px 40px;
  background-color: YellowGreen;
  border-radius: 2px;
  text-align: center;
  transition-duration: 0.4s;
}

.review-margin{
  margin-left: 200px;
}

.review-style{
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.star-style{
  width: 25px;

}

.star-margin{
  margin-top: 40px;

}

.comment-style{
  max-width: 70%;
  margin: 0 auto;
}

.avartar{
  text-align:center;
  margin-right:10px;
}

.item-quantity{
  font-style: italic;
  color: blue;
  font-weight: bold;

}

.chevron-down{
    width: 25px;
}

tr.border_bottom td {
  border-bottom: 1px solid LightGray;
}

tr {
  height: 300px;
}

.ordertotal{

}

.order-summary{
  font-family: "Gill Sans", sans-serif;
}

.order-section{
  border-style: solid;
  border-color: LightGray;
  border-radius: 5px;
  margin-right: 30px;
  padding: 20px;

}

.shoppingcart-info{
  /* margin-left: 50px; */
  padding-left: 90px;
}

.cart-title{
  margin-top: 40px;
}

.no-review{
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: gray;

}

.shoppingcart-no-info{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: gray;
  font-size: 20px;

}

.summary-sticky{
  z-index:99;
  overflow: hidden;
  position: sticky;
  top: 130px;;

}






